#main{


background-color:white;
border-color:black;
}

#header{
border-style:solid;
background-color:#8DC35B;
height:100px;
border-color:black;

}


#navi{
margin-top:4px;
margin-bottom:4px;
margin-right:4px;
margin-left:4px;
float:left;
width:200px;
height:300px;
background-color:#8CDDC9;
border-color:black;

}


#content{
margin-top:4px;
margin-bottom:4px;
margin-right:4px;
margin-left:210px;
background-color:#FFC300;
height:300px;
border-color:black;

}

#footer{

background-color:#F3BBB6;
height:100px;
border-color:black;


}