#univer{
float:left;
background-color:#052253;
height:40px;
width:650px;
}

#hme{


border-right-color:white;
border-width:1px;
border-right-style:solid;
color:white;
padding-right:5px;
border-bottom-color:#052253;
border-top-color:#052253;
border-left-color:#052253;
}

